@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.main-nav{
    height: 80px;
}
.main-head{
    background: rgba(77, 2, 96);
    box-shadow: 0px 0px 100px black inset;
    position: sticky;
    top: 0;
    z-index: 300;
}

.first{
    position: relative;
}

.first p:nth-child(1){
    font-size: 8.75rem;
}

.first p:nth-child(2){
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 500;
    font-size: 5.25rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first p:nth-child(3){
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1.5rem;
    padding: 0.175rem 0.125rem;
    background: linear-gradient(to right, #FFB202, #CD02FF );
}

.first p:nth-child(3) a{
    text-decoration: none;
    color: #fff;
}

.second {
    box-shadow: 0px 0px 10px #c0c0c0;
    height: 15vh;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 0 0 0;
}

.second i{
    font-size: 2rem;
}

.header{
    background-image: linear-gradient(to left, rgba(205, 2, 255 ,0.2),rgba(255, 178, 2 ,0.2)),url("images/newdelhi.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    position: relative;
    top: -2.8rem;
    padding-top: 4rem ;
    /* z-index:; */
}

.menu ul{
list-style-type: none;
font-size: 20px;
margin: 0;
/* height: 7vh; */
}
.menu ul li{
    display: inline;
    margin-right:35px; 
}
.menu ul li a{
    text-decoration: none;
    color: white;   
}
.menu ul li select{
background-color: transparent;
color: white;
border: none;    
}
.menu ul li select option{
    background-color: white;
    color: black;
    border: none;
    border-radius:0px;

}
.info{
    position: relative;
}
.info span{
    cursor: pointer;
}
.info-content{
    height: 150px;
    width: 150px;
    background-color: gray;
    color: white;
    /* text-decoration: underline; */
    padding-top:5px;
    display: none; 
    position:absolute;
    top: 25px;
    right: -53px;
    font-size: medium;

    
}

body{
    overflow-x: hidden;
}

.box{
    width: 250px;
    height: 100vh;
    position: absolute;
    z-index: 300;
    top: 0;
}